{% extends 'base.html' %}

{% block main %}

    List
<br>
    {% for funcionario in object_list %}
        <a href="{% url 'update_funcionario' funcionario.id %}">
            {{ funcionario }}
        </a>
        <a href="{% url 'delete_funcionario' funcionario.id %}">
            Deletar
        </a>
        <br>
    {% endfor %}

    <a href="{% url 'create_funcionario' %}" class="btn btn-info"> Novo </a>
    <a href="{% url 'relatorio_funcionarios_pdf_reportlab' %}" class="btn btn-info">Gerar relatório funcionários com pdf report lab</a>

{% endblock %}